@charset "UTF-8";
/* global variables from theme.yaml

--wp--preset--color--accent: #2d9649;
--wp--preset--color--white: #ffffff;
--wp--preset--color--gray: #cfcfcf;
--wp--preset--color--dark: #222222;
--wp--preset--color--black: #000000;

--wp--preset--font-family--body: "Poppins", sans-serif;
--wp--preset--font-family--monospace: monospace;

--wp--preset--font-size--small: 0.75rem;
--wp--preset--font-size--normal: 1rem;
--wp--preset--font-size--medium: 1.5rem;
--wp--preset--font-size--large: 2.5rem;
--wp--preset--font-size--x-large: 3.5rem;
--wp--preset--font-size--huge: 4.5rem;

--wp--custom--font-style--italic: italic;

--wp--custom--font-weight--regular: 400;
--wp--custom--font-weight--bold: 900;

--wp--custom--line-height--base: 1.25;

--wp--custom--spacing--outer: 1rem;

*/
:root {
  --step-1: 576px;
  --step-2: 768px;
  --step-3: 992px;
  --step-4: 1200px;
  --step-5: 1400px;
  --ma-x-auto: auto;
  --pa-normal: 5px 10px;
  --pa-large: 25px 10px;
  --pa-x-normal: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.single-event .main-content .event-details, .menu, .menu .menu-item-has-children .sub-menu {
  padding-left: 0;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: var(--wp--preset--color--white);
}

:-webkit-scrollbar-thumb {
  background-color: var(--wp--preset--color--accent);
}

::-webkit-scrollbar {
  width: 12px;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
}

body .is-layout-constrained.alignwide > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--wide-size);
}

body .is-layout-constrained.alignfull > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: none;
}

.sitewide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pa-normal);
  width: 100%;
  background-color: var(--wp--preset--color--gray);
}
.sitewide-header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
}
.sitewide-header .headnotes {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.sitewide-main {
  width: 100%;
}

.sitewide-footer {
  margin-top: auto;
  padding: var(--pa-normal);
  width: 100%;
  background-color: var(--wp--preset--color--gray);
}
.sitewide-footer .footnotes {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.main-content {
  padding-left: var(--pa-x-normal);
  padding-right: var(--pa-x-normal);
  width: 100%;
}

.aside-content {
  padding-left: var(--pa-x-normal);
  padding-right: var(--pa-x-normal);
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .menu {
    flex-direction: row;
  }
}
.menu .menu-item {
  padding: var(--pa-normal);
}
.menu .menu-item-has-children {
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.32s ease-in-out;
}
@media (min-width: 992px) {
  .menu .menu-item-has-children {
    position: relative;
  }
}
.menu .menu-item-has-children.open {
  grid-template-rows: auto 1fr;
}
@media (min-width: 992px) {
  .menu .menu-item-has-children.open .sub-menu {
    position: absolute;
  }
}
.menu .menu-item-has-children > a::after {
  content: "▾";
  position: absolute;
}
.menu .menu-item-has-children .sub-menu {
  overflow-y: hidden;
}

.main-menu-wrapper .menu-opener {
  display: flex;
}
@media (min-width: 992px) {
  .main-menu-wrapper .menu-opener {
    display: none;
  }
}
.main-menu-wrapper .menu-sitewide-navigation {
  transform: translateX(150%);
  transition: transform 0.32s ease-in-out;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
  padding: var(--pa-normal);
  width: 288px;
  max-width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--wp--preset--color--gray);
}
.main-menu-wrapper .menu-sitewide-navigation.open {
  transform: translateX(0);
}
@media (min-width: 992px) {
  .main-menu-wrapper .menu-sitewide-navigation {
    transform: translateX(0);
    position: static;
    width: auto;
    max-width: none;
    height: auto;
    background-color: transparent;
  }
}
.main-menu-wrapper .menu-sitewide-navigation .menu-main-menu {
  display: flex;
}
.main-menu-wrapper .menu-sitewide-navigation .menu-closer {
  order: -1;
  text-align: right;
}
@media (min-width: 992px) {
  .main-menu-wrapper .menu-sitewide-navigation .menu-closer {
    display: none;
  }
}

.single-event .sitewide-main {
  max-width: var(--step-5);
  margin-inline: var(--ma-x-auto);
}
@media (min-width: 768px) {
  .single-event .sitewide-main {
    display: grid;
    grid-template-columns: 66.5% 33.5%;
  }
}
.single-event .main-content img {
  margin-inline: var(--ma-x-auto);
}
.single-event .main-content .event-header {
  position: relative;
  margin-bottom: 75px;
}
.single-event .main-content .event-header .event-title {
  margin: 0 var(--ma-x-auto);
  padding: var(--pa-large);
  width: 80%;
  position: absolute;
  left: 50%;
  translate: -50% -50px;
  text-align: center;
  background-color: var(--wp--preset--color--gray);
}
.single-event .main-content .event-details {
  display: flex;
  justify-content: space-between;
  gap: var(--wp--custom--spacing--outer);
}
.single-event .main-content .event-details .event-detail {
  flex-basis: 25%;
  padding: var(--pa-large);
  text-align: center;
  background-color: var(--wp--preset--color--gray);
}
/*# sourceMappingURL=assets/styles/generated-styles.css.map */
