@use './utils' as *;

::-webkit-scrollbar-track
{
  background-color: var(--wp--preset--color--white);
}
::-webkit-scrollbar-thumb
{
  background-color: var(--wp--preset--color--primary);
  border-radius: calc(var(--wp--preset--font-size--normal) * 2);
}
::-webkit-scrollbar
{
  width: calc(var(--wp--preset--font-size--normal) / 2);
}