@use './utils' as *;

.sitewide-footer
{
  margin-top: auto;
  padding: var(--pa-normal);
  width: 100%;
  background-color: var(--wp--preset--color--gray);

  .footnotes
  {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}