@use './utils' as *;

.sitewide-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pa-normal);
  width: 100%;
  background-color: var(--wp--preset--color--gray);

  &.fixed
  {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
  }

  .headnotes
  {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}