// todo: summarize here global variables from theme.yaml

:root
{
  --padding-normal: 5px 10px;
  --padding-big: 25px 10px;

  --padding-x-normal: 10px;
}

%reset-list
{
  padding-left: 0;
  list-style: none;
}