@use './utils' as *;

.menu
{
  @extend %reset-list;

  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @include step-3
    {
      overflow-y: hidden;
      flex-direction: row;
    }

  .menu-item
  {
    padding: var(--pa-normal);
  }

  .menu-item-has-children
  {
    display: grid;
    grid-template-rows: auto 0fr;
    @include transition(grid-template-rows);

    @include step-3
    {
      // display: list-item;
      position: relative;
    }

    &.open
    {
      grid-template-rows: auto 1fr;

      .sub-menu
      {
        @include step-3
        {
          position: absolute;
          // top: var(--wp--custom--line-height--base);
        }
      }
    }

    & > a::after
    {
      content: "▾";
      position: absolute;
    }

    .sub-menu
    {
      @extend %reset-list;
      overflow-y: hidden;
    }
  }
}